# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
@EXPLICIT
https://repo.continuum.io/pkgs/main/linux-64/ca-certificates-2017.08.26-h1d4fec5_0.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/intel-openmp-2018.0.0-8.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/libgcc-ng-7.2.0-hdf63c60_3.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/libgfortran-ng-7.2.0-hdf63c60_3.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/libstdcxx-ng-7.2.0-hdf63c60_3.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/expat-2.2.5-he0dffb1_0.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/icu-58.2-h9c2bf20_1.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/jpeg-9b-h024ee3a_2.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/libffi-3.2.1-hd88cf55_4.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/libsodium-1.0.16-h1bed415_0.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/libxcb-1.12-hcd93eb1_4.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/mkl-2018.0.2-1.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/ncurses-6.0-h9df7e31_2.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/openssl-1.0.2o-h20670df_0.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/pcre-8.41-hc27e229_1.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/tk-8.6.7-hc745277_3.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/xz-5.2.3-h55aa19d_2.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/zlib-1.2.11-ha838bed_2.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/glib-2.53.6-h5d9569c_2.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/hdf5-1.10.1-h9caa474_1.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/libedit-3.1-heed3624_0.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/libpng-1.6.34-hb9fc6fc_0.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/libxml2-2.9.7-h26e45fe_0.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/readline-7.0-ha6073c6_4.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/dbus-1.12.2-hc3f9b76_1.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/freetype-2.8-hab7d2ae_1.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/gstreamer-1.12.4-hb53b477_0.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/sqlite-3.22.0-h1bed415_0.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/fontconfig-2.12.6-h49f89f6_0.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/gst-plugins-base-1.12.4-h33fb286_0.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/python-3.6.5-hc3d631a_0.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/asn1crypto-0.24.0-py36_0.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/certifi-2018.1.18-py36_0.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/humanfriendly-4.8-py36_0.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/idna-2.6-py36h82fb2a8_1.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/kiwisolver-1.0.1-py36h764f252_0.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/pyasn1-0.4.2-py36h4d1db45_0.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/pycparser-2.18-py36hf9f622e_1.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/pyparsing-2.2.0-py36hee85983_1.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/pytz-2018.3-py36_0.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/qt-5.6.2-hd25b39d_14.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/sip-4.18.1-py36h51ed4ed_2.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/six-1.11.0-py36h372c433_1.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/tornado-5.0.1-py36_1.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/cffi-1.11.5-py36h9745a5d_0.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/cycler-0.10.0-py36h93f1223_0.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/pyqt-5.6.0-py36h0386399_5.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/python-dateutil-2.7.2-py36_0.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/setuptools-39.0.1-py36_0.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/bcrypt-3.1.4-py36h621fe67_0.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/cryptography-2.2.1-py36h14c3975_0.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/pynacl-1.2.1-py36h14c3975_0.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/wheel-0.30.0-py36hfd4bba0_1.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/paramiko-2.4.1-py36_0.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/pip-9.0.3-py36_0.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/biopython-1.70-py36h637b7d7_0.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/h5py-2.7.1-py36h3585f63_0.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/matplotlib-2.2.2-py36h0e671d2_0.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/mkl_fft-1.0.1-py36h3010b51_0.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/mkl_random-1.0.1-py36h629b387_0.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/numpy-1.14.2-py36hdbf6ddf_1.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/pandas-0.22.0-py36hf484d3e_0.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/scipy-1.0.1-py36hfc37229_0.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/patsy-0.5.0-py36_0.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/statsmodels-0.8.0-py36h8533d0b_0.tar.bz2
https://repo.continuum.io/pkgs/main/linux-64/seaborn-0.8.1-py36hfad7ec4_0.tar.bz2
